<app-nav-bar></app-nav-bar>
<div class="resume-page">
  <div>
    <section class="resume-bio">
      <p>Software<br />Engineer</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores
        aliquam sed, vel impedit veritatis tempore, possimus provident
        consequuntur cupiditate praesentium sint illum repellendus dolorum
        corrupti suscipit. Dolore placeat maiores inventore voluptatem earum
        animi, aliquid illum, fugiat ab quas qui consequuntur.
      </p>
    </section>
  </div>
  <div>
    <section class="resume-education">
      <p>Education.</p>
      <div>
        <div>
          <p>Bachelors in Computer Science <span>@Howard University</span></p>
          <p>August 2019 to May 2023</p>
        </div>

        <p>
          <b>Coursework:</b> Computer Science 1, Computer Science 2, Computer
          Science 3, Large Scale Programming, Applied Data Structures, Computer
          Organization 1, Computer Organization 2
        </p>
      </div>
    </section>
  </div>
  <div>
    <section class="resume-work-experience">
      <p>Work Experience.</p>
      <div>
        <p>
          Software Engineer and Program Manager Intern <span>@Microsoft</span>
        </p>
        <div>May 2021 to Aug 2021</div>
        <ul>
          <li>I interned on the web defense team</li>
          <li>
            As a program manager intern I interviewed Microsoft customers.
          </li>
          <li>
            I created documentation using information obtained from the
            interviews to prioritize engineering goals.
          </li>
          <li>
            As a software engineer intern I implemented telemetry into a
            security service in the Windows operating system.
          </li>
          <li>
            I created design specifications and code documentation for my
            engineering project.
          </li>
        </ul>
      </div>
      <div>
        <p>Software Engineer Intern <span>@Autodesk</span></p>
        <div>August 2020 to April 2021</div>
        <ul>
          <li>I interned on the Autodesk Forge (PSET) team.</li>
          <li>
            I worked on a team of 4 interns to build a web application using the
            Autodesk Forge API.
          </li>
          <li>
            I wrote an analysis report on API usage using data from the Autodesk
            Forge API
          </li>
        </ul>
      </div>
      <div>
        <p>Software Engineer Intern <span>@Intuit</span></p>
        <div>May 2020 to August 2020</div>
        <ul>
          <li>I interned on the Information and Security team.</li>
          <li>
            I built a web application prototype, used for developing machine
            learning models, using React.
          </li>
          <li>
            I developed a Rest API for the web application using Spring boot,
            Java and a Postgres database.
          </li>
        </ul>
      </div>
      <div>
        <p>
          Freshman Liaison <span>@Association for Computing Machinery </span>
        </p>
        <div>September 2019 to April 2020</div>
        <ul>
          <li>
            Served as a liaison between the executive board and first year
            students
          </li>
          <li>
            Assisted in planning first year experience events for over 50 first
            year student members
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div>
    <section class="resume-projects">
      <p>Projects.</p>
      <div></div>
    </section>
  </div>
  <div>
    <section class="resume-awards">
      <p>Awards & Recognition.</p>
      <div>
        <p>
          <span>Autodesk</span>
          <span> | Autodesk Scholar | </span>
          <span>2020-2021</span>
        </p>
        <p>
          <span>Howard University</span>
          <span> | Capstone Scholarship | </span>
          <span>2019-2023</span>
        </p>
      </div>
    </section>
    <section class="resume-activities">
      <p>Activities & Organizations.</p>
      <div>
        <p>
          <span>Association for Computing Machinery</span>
          <span> | Freshman Liasion | </span>
          <span>2019-2021</span>
        </p>
        <p>
          <span>American Institute of Aeronautics and Astronautics</span>
          <span> | Member | </span>
          <span>2019-2020</span>
        </p>
        <p>
          <span>National Society of Black Engineers</span>
          <span> | Member | </span>
          <span>2019-2023</span>
        </p>
        <p>
          <span>Howard University Robotics Organization</span>
          <span> | Member | </span>
          <span>2019-2020</span>
        </p>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
