<div class="background-primary">
  <div class="app-footer">
    <div>
      <app-logo></app-logo>
      <a href="mailto:hello@thecalmday.com"
        ><p style="margin-top: 36px">hello@thecalmday.com</p></a
      >
    </div>
    <div>
      <section>
        <a
          href="https://www.linkedin.com/in/samcalmday"
          target="_blank"
          rel="noopener noreferrer"
          ><p>Linkedin</p></a
        >
        <a
          href="https://www.github.com/samcalmday"
          target="_blank"
          rel="noopener noreferrer"
          ><p>Github</p></a
        >
        <a
          href="https://www.instagram.com/calm.gram/"
          target="_blank"
          rel="noopener noreferrer"
          ><p>Instagram</p></a
        >

        <a
          href="https://www.github.com/samcalmday"
          target="_blank"
          rel="noopener noreferrer"
          ><p>Medium</p></a
        >
      </section>
      <div style="margin-top: 32px">
        <p>
          Thecalmday ©2021. All Rights Reserved. Made with ♥ by Samuel Calmday.
        </p>
      </div>
    </div>
  </div>
</div>
