<app-nav-bar></app-nav-bar>
<div>
  <div class="contact-page">
    <p class="small-caps">SAY HI !</p>
    <P class="large-heading">Contact</P>
    <img
      class="contact-image"
      src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
      alt=""
    />
    <p class="general-text">
      Are you a recruiter looking for a software engineering or program manager
      role? I have work with amazing companies in the past and I'm sure I'll be
      a great addition to the team. I'd love to get in contact and discuss any
      oppurtunities ...
    </p>
    <p class="sec-heading">Who have I worked with</p>
    <div class="general-text">
      <p>Microsoft</p>
      <p>Autodesk</p>
      <p>Intuit</p>
      <p>Google</p>
    </div>
    <p class="sec-heading">Relevant Skills</p>
    <div class="general-text">
      <p>Web Design</p>
      <p>Mobile Development</p>
      <p>Backend Infrastructure</p>
      <p>Cloud Services</p>
    </div>
    <p class="small-caps" style="margin-top: 72px">LEAVE ME AN EMAIL</p>
    <a href="mailto:calmdaysamuel@gmail.com" class="email"
      >hello@thecalmday.com</a
    >
  </div>
</div>

<app-footer></app-footer>
